/*-------------------------------------------------------------
======================  General  ==============================
---------------------------------------------------------------*/
html, body {
	font-family: "Open Sans", sans-serif;
	color: #000a0a;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	scrollbar-width: none;
}

body {
	background: linear-gradient(rgba(3, 34, 25, 0.815), rgba(7, 13, 34, 0.849)), url("../images/announcement.jpg") fixed center center;
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
	color: white;
}

a:hover {
	text-decoration: none;
}

body::-webkit-scrollbar {
	width: 10px;  
	display: none;             
}

body::-webkit-scrollbar-track {
	background: rgba(183, 222, 238, 0);
}

body::-webkit-scrollbar-thumb {
	background-color: rgb(0, 183, 255); 
	border-radius: 20px;      
}

/*-------------------------------------------------------------
======================= Back to Top ========================
---------------------------------------------------------------*/
.back-to-top {
	position: fixed;
	display: none;
	right: 20px;
	bottom: 20px;
	z-index: 9000;
}
  
.back-to-top i {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	width: 40px;
	height: 40px;
	background: #ff8800;
	color: #fff;
	transition: all 0.4s;
	border-radius: 50%;
}
  
.back-to-top i:hover {
	background: #da5c13;
	color: #fff;
}
  
/*-------------------------------------------------------------
=========================  Preloader  ===========================
---------------------------------------------------------------*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	z-index: 10000;
	background-color: white;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
    border-radius: 50%;
    border: 5px solid transparent;
	border-top-color: #3498db;
	z-index: 10010;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #30ce1b;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
 
/*-------------------------------------------------------------
========= Disable AOS animation on moblie devices ============
---------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	[data-aos-delay] {
	  transition-delay: 0 !important;
	}
}
  

/*-------------------------------------------------------------
=======================  Header  ==============================
---------------------------------------------------------------*/
#header {
	transition: all 0.5s;
	background-color: #ffffff;
	z-index: 1000;
}

#header .logo img {
	height: 60px;
	width: 200px;
	margin: 10px 0 5px 0;
}


@media (max-width: 1199px) {
	
	#header .logo img {
		height: 50px;
		width: 150px;
		margin: 10px 0 3px 0;
	}
}
  

/*-------------------------------------------------------------
=====================  Navigation Menu  =======================
---------------------------------------------------------------*/

/* Desktop Navigation */
.nav-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.nav-menu li a {
	padding: 25px 15px 25px 15px;
}

.nav-menu > ul {
	display: flex;
}
 
.nav-menu > ul > li {
	position: relative;
	white-space: nowrap;
}

.nav-menu .drop-down ul {
	display: block;
	position: absolute;
	left: 0;
	top: calc(100% + 30px);
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	padding: 10px 0;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}
  
.nav-menu .drop-down li {
	min-width: 150px;
	position: relative;
}
  
  
.nav-menu .drop-down ul a {
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 500;
	text-transform: none;
	color: #353535;
}
  
.nav-menu .drop-down > a:after {
	content: "\ea99";
	font-family: IcoFont;
	padding-left: 3px;
}
  
.nav-menu a {
	display: block;
	color: rgb(51, 38, 38);
	transition: 0.3s;
}

.nav-menu li a:hover, .nav-menu li  .active {
	color: #ff5e00;
}

@media (min-width: 992px) {
	.nav-menu li a {
		font-size: 20px;
		padding-left: 15px;
	}
}


/* Mobile Navigation */

.hamburger {
    position: fixed;
	cursor: pointer;
	top: 20px;
	right: 20px;
	z-index: 1501;
}

.hamburger .line1, .hamburger .line2, .hamburger .line3 {
    width: 27px;
    height: 3px;
    background: rgb(0, 0, 0);
	margin: 5px;
	transition: all 0.5s ease;
}

.nav-close-icon .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
	background-color: rgb(255, 0, 0);
}

.nav-close-icon .line2 {
	opacity: 0;
}

.nav-close-icon .line3 {
	transform: rotate(45deg) translate(-5px,-6px);
	background-color: rgb(255, 0, 0);
}
  
.mobile-nav {
	position: fixed;
	top: 65px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	z-index: 9999;
	overflow-y: auto;
	background: #fff;
	transition: ease-in-out 0.2s;
	opacity: 0;
	visibility: hidden;
	border-radius: 10px;
	padding: 10px 0 0 10px;
}
  
.mobile-nav * {
	margin: 0;
	padding: 0;
	list-style: none;
}
  
.mobile-nav a {
	display: block;
	position: relative;
	color: #191919;
	padding: 10px 20px;
	font-weight: 500;
	outline: none;
}
  
.mobile-nav a:hover, .mobile-nav .active  {
	color: #e82d2d;
	text-decoration: none;
}

.mobile-nav .drop-down > a:after {
	content: "\ea99";
	font-family: IcoFont;
	padding-left: 10px;
	position: absolute;
	right: 15px;
}  
  
.mobile-nav .active.drop-down > a:after {
	content: "\eaa1";
}
  
.mobile-nav .drop-down > a {
	padding-right: 35px;
}
  
.mobile-nav .drop-down ul {
	display: none;
	overflow: hidden;
}
  
.mobile-nav .drop-down li {
	padding-left: 20px;
}
  
.mobile-nav-overly {
	width: 100%;
	height: 100%;
	z-index: 1500;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(0, 0, 0, 0.6);
	overflow: hidden;
	display: none;
	transition: ease-in-out 0.2s;
  }
  

.mobile-nav-active {
	overflow: hidden;
}
  
.mobile-nav-active .mobile-nav {
	opacity: 1;
	visibility: visible;
}
  
.mobile-nav-active .mobile-nav-toggle i {
	color: #fff;
}
  


/*-------------------------------------------------------------
======================  Introduction  ===========================
---------------------------------------------------------------*/
#intro {
	width: 100%;
	/* height: 100vh; */
	/* background: url('../images/RobAi.jpeg') center top; */
	padding: 0;
}


#intro-gallery {
	width: 100%;
	position: relative;
}

#intro-gallery .carousel-item img {
	padding-top: 80px;
	width: 100vw;
	height: 100vh;
	background-size: contain;
}

#intro-gallery .icofont-rounded-left , #intro-gallery .icofont-rounded-right {
	color: #ffffff;
}
  
@media (min-width: 1024px) {
	#intro {
	  background-attachment: fixed;
	}
}
  
@media (max-width: 767px) {
	#intro {
	  text-align: center;
	}
	#intro .container {
	  padding-top: 40px;
	}
	#intro h1 {
	  font-size: 40px;
	  line-height: 36px;
	}
	#intro h2 {
	  font-size: 20px;
	  line-height: 24px;
	  margin-bottom: 30px;
	}
	#intro-gallery .carousel-item img {
		padding-top: 71px;
		background-size: contain;
	}
}

@media (max-width: 991px) {
	#intro-gallery .carousel-item img {
		padding-top: 71px;
	}
}

@media (max-width: 500px) {
	#intro-gallery .carousel-item img {
		width: 100vw;
		height: 60vh;
		background-size: contain;
	}
	
}
  
  
/*--------------------------------------------------------------
======================  Sections General  ======================
---------------------------------------------------------------*/

section {
	padding: 40px;
	background-color: #f5efea00;
}

section .section-header h3 {
	font-size: 40px;
	text-align: center;
	padding-bottom: 20px;
}

section .section-header h3::before, section .section-header h3::after {
	content: "";
	height: 3px;
	width: 70px;
	background-color: #e46a24d7;
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
}

@media (min-width: 401px) and (max-width: 576px) {
	section .section-header h3 {
		font-size: 30px;
		padding-bottom: 10px;
		margin: 0;
	}
	section .section-header h3::before, section .section-header h3::after {
		height: 2px;
		width: 50px;
	}
}

@media (max-width: 400px) {
	section .section-header h3 {
		font-size: 25px;
		padding-bottom: 10px;
	}
	section .section-header h3::before, section .section-header h3::after {
		height: 2px;
		width: 25px;
	}
}

  
/*--------------------------------------------------------------
======================  About Us  ===========================
---------------------------------------------------------------*/


.about .section-header {
	text-align: center;
}

.about .section-header p {
	padding-bottom: 5px;
}
  
.about .onq-youtube-player {
	width: 100%;
	height: 100%;
}

@media (max-width: 992px) {
	.about .row .video {
		height: 250px;
	}
}

/*--------------------------------------------------------------
==========================  aim  ===========================
---------------------------------------------------------------*/

.aim ul {
	list-style: none;
	padding: 0;
}

.aim ul li {
	padding-bottom: 20px;
}

.aim ul i {
	color: #f45d26;
	float: left;
	clear: left;
	margin: 10px 20px 20px 0px;
}

.aim ul span {
	clear: both;
}

.aim img {
	width: 100%;	
	height: auto;
	max-height: 300px;
}

@media (min-width: 768px) and (max-width: 991px) {
	.aim ul li {
		padding-bottom: 20px;
	}
	
	.aim ul i {
		margin-top: 0px;
	}
}

/*-------------------------------------------------------------
=======================  Events  ========================
---------------------------------------------------------------*/

#event-gallery {
	width: 100%;
}

#event-gallery .carousel-item {
	position: relative;
}

#event-gallery .carousel-item .container {
	position: absolute;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);}

#events .event {
	margin: auto;
}

#events .poster{
	margin: auto;
}

#events .poster img {
	width: 100%;
	height: 100%;
}

#events .event-description h3 {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin-top: 10px;
	margin-bottom: 15px;
}

#events .event-description p {
	font-size: 16px;
}

@media (min-width: 1200px) {
	#event-gallery .carousel-item {
		min-height: 630px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	#event-gallery .carousel-item {
		min-height: 500px;
	}
}

@media (min-width: 450px) and (max-width: 991px) {
	#event-gallery .carousel-item {
		min-height: 550px;
	}
}

@media (max-width: 449px) {
	#event-gallery .carousel-item {
		min-height: 400px;
	}
}


/*-------------------------------------------------------------
=======================  Announcements  ========================
---------------------------------------------------------------*/

#announcement {
	background: linear-gradient(rgba(84, 204, 170, 0.815), rgba(102, 130, 235, 0.849));
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
}

#announcement h3 {
	color: rgb(255, 255, 255);
	font-size: 30px;
	font-weight: 600;
}

#announcement p {
	color: rgb(205, 228, 5);
}

#announcement .announce-btn {
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 2px;
	display: inline-block;
	padding: 10px 28px;
	transition: 0.5s;
	margin-top: 10px;
	border: 2px solid #0b284d00;
	color: rgb(205, 228, 5);
	border-radius: 30px;
	background-color: #0b284da8;
	clear: both;
}

#announcement .announce-btn:hover {
	background-color: #0c356b;
	border: 2px solid #0c356b;
}

/*-------------------------------------------------------------
==========================  Resources  ===========================
---------------------------------------------------------------*/

#resources .container {
	padding-top: 20px;
}

#resources .resource .back {
	display: block;
	height: 300px;
	width: 300px;
	border-radius: 150px;
	overflow: hidden;
	margin: auto;
}

#resources .resource .back img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
	transition: transform 1s ease;
	filter: brightness(70%);
}

#resources .resource .back:hover img {
	transform: scale(1.3);
}

#resources .resource span{
	position: relative;
	font-size: 30px;
	color: rgb(255, 179, 0);
	text-transform: uppercase;
	bottom: 165px;
	font-weight: 600;
	letter-spacing: 2px;
}

#resources .resource{
	margin: 0;
	width: 100%;
}

/*-------------------------------------------------------------
==========================  Team  ===========================
---------------------------------------------------------------*/

#team .team-member .team-image img{
	width: 125px;
	height: 125px;
	border-radius: 50%;	
}

#team .team-member {
	/* border: 1px solid #0c5692; */
	text-align: center;
	padding: 10px;
}

#team .team-member .team-name {
	position: relative;
	top: 8px;
	font-size: 20px;
	line-height: 20px;
}

#team .team-member .team-position {
	position: relative;
	font-size: 16px;
	top: 5px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 16px;
}

#team .team-member .team-department {
	position: relative;
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	top: 10px;
}

@media (max-width: 767px) {
	#team .team-member .team-image img{
		width: 100px;
		height: 100px;
	}
	#team .team-member .team-position {
		font-size: 13px;
		line-height: 13px;
		display: block;
		margin-top: 3px;
	}
	#team .team-member .team-name {
		display: block;
		font-size: 16px;
		line-height: 17px;
		position: relative;
		top: -9px;
	}
	#team .team-member .team-department {
		display: block;
		font-size: 12px;
		line-height: 13px;
		position: relative;
		top: -25px;
	}
}

@media (min-width: 1200px) {
	#team .team-member .team-image img{
		width: 150px;
		height: 150px;
	}
}

/*-------------------------------------------------------------
=========================  Contact  ===========================
---------------------------------------------------------------*/

.contact .info-box {
	text-align: center;
	box-shadow: 0 0 10px #6eb8f15e;
	padding: 30px 0 30px 0;
	background-color: #000a0a71;
}

.contact .map iframe {
	box-shadow: 0 0 10px #26618871;
	padding: 0px;
	margin-bottom: 20px;
}

.contact .info-box i {
	font-size: 32px;
	color: #fb6a09;
	border-radius: 50%;
	padding: 8px;
	border: 2px dotted #fb6a09;
}

.contact .info-box h3 {
	font-size: 24px;
	color: #fb6a09;
}

.contact .info-box p , .contact .info-box a {
	padding: 0;
	line-height: 24px;
	font-size: 16px;
	margin-bottom: 0;
}

.contact .info-box a {
	color: #2cdbdb;
}

.contact .question .form {
	box-shadow: 0 0 10px #266188d2;
	padding: 20px;
	padding-bottom: 10px;
}

.contact .question .title {
	padding-bottom: 8px;
}

.contact .question .main {
	font-size: 27px;
}

.contact .question .sub {
	font-size: 15px;
	padding-left: 5px;
}

.contact .contact-form .validate {
	display: none;
	color: red;
	font-size: 13px;
	padding: 2px 0 0 0;
}
  
.contact .contact-form .sent-message {
	display: none;
	color: #fff;
	background: #18d26e;
	text-align: center;
	padding: 5px;
	font-weight: 600;
}

.contact .contact-form input, .contact .contact-form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
}
  
.contact .contact-form input::focus, .contact .contact-form textarea::focus {
	background-color: #cc1616;
}
  
.contact .contact-form input {
	padding: 20px 15px;
}
  
.contact .contact-form textarea {
	padding: 12px 15px;
}

#name, #email, #subject, #message {
	border-radius: 15px;
}
  
.contact .contact-form button[type="submit"] {
	background: #0c2699b0;
	border: 0;
	padding: 10px 24px;
	color: #fff;
	transition: 0.4s;
	border-radius: 20px;
}
  
.contact .contact-form button[type="subit"]:hover {
	background: #e82d2d;
}  

@media (max-width: 575px) {
	.contact .section-header {
		padding-bottom: 25px;
	}
}

/*-------------------------------------------------------------
=========================  Footer  ===========================
---------------------------------------------------------------*/
#footer {
	background: #f08731;
	padding: 10px;
	font-size: 14px;
	color: #ffffff;
}

#footer .credits {
	font-size: 12px;
}

#footer .social-icons i {
	font-size: 30px;
	padding-top: 7px;
	padding-left: 5px;
	color: #ffffff;
}

#footer .social-icons i:hover {
	color: #b3b5bb;
}

@media (max-width: 767px) {
	#footer .social-icons {
		border-top: 1px solid rgba(11, 94, 109, 0.616);
		margin: auto;
		margin-top: 15px;
		padding-top: 5px;
		width: 60%;
	}
}
